{% extends 'core/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Reset password{% endblock %}

{% block content %}
  <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6">
    <h2 class="letter-w">Reset your password</h2>
    <form method="post" novalidate>
      {% csrf_token %}
      <!-- {{ form|crispy }} -->
      <div class="letter-w">
        {{ form.email | as_crispy_field }}
      </div>
      <div class="d-inline-flex pt-2">
        <button class="btn btn-primary" type="submit">Send confirmation link</button>
      </div>
    </form>
  </div>
{% endblock %}